In [ ]:
# Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction. (1 pt)

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:

 - python
 - javascript
 - R
 - scala

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scikit-learn
4. plotly
5. matplotlib
6. tensorflow

# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| jupyter notebooks |
| postgresql |
| anaconda |
| R studio |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

1 + 3 = sum

# Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

In [ ]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- Python
- Scala
- Java
- R
- C++

In [ ]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author 
Rodrigo Garcia